// Material colors
$primary-color:        #cd1f32 !default;
$primary-color-dark:   #8b1522 !default;
$secondary-color:      #1fcdba !default;
$secondary-color-dark: #2bbbad !default;

$elegant-color:        #2e2e2e !default;
$elegant-color-dark:   #212121 !default;
$stylish-color:        #4b515d !default;
$stylish-color-dark:   #3e4551 !default;
$unique-color:         #3f729b !default;
$unique-color-dark:    #1c2331 !default;
$special-color:        #37474f !default;
$special-color-dark:   #263238 !default;
$white:                #fff;
$black:                #000;

//Link Color
$link-color: $primary-color-dark !default;
