
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~mdbootstrap/scss/mdb';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
