body{
    background-color:#ededed;
}
.md-form.md-outline input[type=date]:focus:not([readonly]),
.md-form.md-outline input[type=datetime-local]:focus:not([readonly]),
.md-form.md-outline input[type=email]:focus:not([readonly]),
.md-form.md-outline input[type=number]:focus:not([readonly]),
.md-form.md-outline input[type=password]:focus:not([readonly]),
.md-form.md-outline input[type=search-md]:focus:not([readonly]),
.md-form.md-outline input[type=search]:focus:not([readonly]),
.md-form.md-outline input[type=tel]:focus:not([readonly]),
.md-form.md-outline input[type=text]:focus:not([readonly]),
.md-form.md-outline input[type=time]:focus:not([readonly]),
.md-form.md-outline input[type=url]:focus:not([readonly]),
.md-form.md-outline textarea:focus:not([readonly]){
    border-color:#cd1f32;
    box-shadow:inset 0 0 0 1px #c92d40
}
.md-form.md-outline input[type=date]:focus:not([readonly])+label,
.md-form.md-outline input[type=datetime-local]:focus:not([readonly])+label,
.md-form.md-outline input[type=email]:focus:not([readonly])+label,
.md-form.md-outline input[type=number]:focus:not([readonly])+label,
.md-form.md-outline input[type=password]:focus:not([readonly])+label,
.md-form.md-outline input[type=search-md]:focus:not([readonly])+label,
.md-form.md-outline input[type=search]:focus:not([readonly])+label,
.md-form.md-outline input[type=tel]:focus:not([readonly])+label,
.md-form.md-outline input[type=text]:focus:not([readonly])+label,
.md-form.md-outline input[type=time]:focus:not([readonly])+label,
.md-form.md-outline input[type=url]:focus:not([readonly])+label,
.md-form.md-outline textarea:focus:not([readonly])+label{
    color:#cd1f32
}
.md-form.md-outline input[type=date],
.md-form.md-outline input[type=datetime-local],
.md-form.md-outline input[type=email],
.md-form.md-outline input[type=number],
.md-form.md-outline input[type=password],
.md-form.md-outline input[type=search-md],
.md-form.md-outline input[type=search],
.md-form.md-outline input[type=tel],
.md-form.md-outline input[type=text],
.md-form.md-outline input[type=time],
.md-form.md-outline input[type=url],
.md-form.md-outline textarea{
    height:50px
}
.md-form.md-outline label{
    top:.85rem
}
table.table a{
    color:#007bff;
    text-decoration:none;
    background-color:transparent;
}
.page-footer{
    margin-top:4.3%;
}

.img-footer{
    max-height:70px;
    height:10vh;
}

#navbarPrincipal{
    font-weight:700;
}

.navbar-brand img{
    height:50px;
}
@media (max-width:768px){
    .navbar-brand img{
        height:40px;
    }
}
.card.card-body{
    margin:10px 0;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}

.navbar-dark .navbar-nav .nav-link i{
    padding-right:6px;
}

.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover{
    color:hsla(0,0%,100%,.815);
}
.nav-avatar{
    height:45px
}
.dropdownUserLink{
    width:200px
}
.navbar .dropdown-menu a{
    text-align:center;
    font-size:15px;
}
.navbar .dropdown-menu i{
    padding-right:6px;
}
.dropdown-menu{
    color:#525f7f;
    border:0 solid rgba(0,0,0,.15);
    border-radius:.3rem;
    background-color:#fff;
    background-clip:padding-box;
    box-shadow:0 50px 100px rgba(50,50,93,.1),
    0 15px 35px rgba(50,50,93,.15),
    0 5px 15px rgba(0,0,0,.1);
}
.img-perfil{
    height:228px;
}
.img-avatar-full{
    max-height: 256px;
    margin: 20px;
}
